/* work sans font  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 20px 25px;
    border: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav,
ul {
    display: flex;

}

nav,
li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;


}

nav,
li,
a {
    text-decoration: none;
    color: #424242;
}

.banner,
img {
    margin-top: 20px;
    width: 100%;

}

.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    font-weight: 400;
    color: #727272;
}
main{
    /* max-width: 1440px; */
    margin: 0 100px;
}
/* features section  */
.team{
    display: flex;
    align-items: center;
}
.image-team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.text-team{
    padding-left: 70px;
    padding-right: 70px;
}
/* responsive designs  */
/* for phone  */
@media screen and (max-width : 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* for tablet or medium device  */
@media screen and (min-width : 576px) and (max-width : 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}