/* work sans font  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
}

.h3-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 20px 25px;
    border: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav,
ul {
    display: flex;

}

nav,
li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;


}

nav,
li,
a {
    text-decoration: none;
    color: #424242;
}

.banner,
img {
    margin-top: 20px;
    width: 100%;

}

.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


main {
    /* max-width: 1440px; */
    margin: 70px 100px;
}

/* features section  */
.team {
    display: flex;
    align-items: center;
}

.image-team,
img {
    width: 100%;
}

.image-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.text-team {
    padding-left: 70px;
    padding-right: 70px;
}

.title-teams {
    font-size: 2.8rem;
}

.title-teams .quick-list {
    color: #727272;
    font-weight: 500;
}

.title-teams .text-features {
    color: #FF900E;
    font-weight: 500;
}

/* facts section  */
.facts-container-card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
}

/* .card img{
    width: 50px;
} */
.facts-container-card .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.facts-container-card .card-starts {
    font-size: 2rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-container-card .card-title {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 5px;
}
/* sponsors section  */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
}
/* responsive designs  */
/* for phone  */
@media screen and (max-width : 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team,
    .sponsors-img-container {
        flex-direction: column;
    }

    .image-team {

        grid-template-columns: 1fr;
    }

    .text-team {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-container-card{
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }
}

/* for tablet or medium device  */
@media screen and (min-width : 576px) and (max-width : 960px) {
    header {
        padding: 50px;
    }

    nav,
    .team ,
    .sponsors-img-container {
        flex-direction: column;
    }
}